html{
    background-color: rgb(1, 0, 48);
    color: rgb(180, 255, 255);
}
title{
    text-decoration: underline;
    
}
div{
    display: none;
}

.flex{
    flex-wrap: wrap;
}

#personalizedPanel{
    padding: 5px; 
    text-align: center;
}
#anonymousPanel {
    display: block;
    padding: 5px; 
    text-align: center;
}
#userId {
    font-weight: bold;
}
#itemsList {
    width: 100em;
    margin: 10em;
    text-align: center;
    line-height: 90em;
    font-size: 15em;
}

.action {
    color: rgb(0, 140, 255);
    cursor: pointer;
    text-decoration: underline;
  }